body {
    background-color: #2C1B47;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 90vh;
}

.container {
    display: flex;
    gap: 25px;
    margin-top: 90px;
}

.card {
    background-color: #DCCAE9;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(11, 2, 5, 0.2);
    width: 250px;
    height: 300px;
}

h1 {
    color: #DCCAE9;
    margin-bottom: 20px;
    font-size: 90px;
}

h2 {
    color: #724C9D;
}

p {
    color: #0B0205;
    line-height: 1.5;
}

.button {
    background-color: #724C9D;
    color: #DCCAE9;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #9356A0;
}

.hidden {
    display: none;
}

.box {
    background-color: #DCCAE9;
    border-radius: 10px;
    padding: 20px;
    color: #0B0205;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.left-box {
    width: 200px;
}

.right-box {
    width: 800px;
    height: 400px;
}

.select-box {
    background-color: #724C9D;
    border-radius: 10px;
    padding: 10px;
    color: #DCCAE9;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    width: 97%;
    border: 1px solid #0B0205;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.select-box > span {
    margin-right: 10px;
}

select {
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    width: 60%;
    height: 50px;
    background-color: #DCCAE9;
    color: #0B0205;
    border: 1px solid #724C9D;
}

.result {
    margin-top: 20px;
    border: 1px solid #724C9D;
    padding: 10px;
    background-color: #DCCAE9;
    color: #0B0205;
}

input[type="number"],
input[type="text"] {
    background-color: #DCCAE9;
    border: 1px solid #724C9D;
    padding: 8px;
    border-radius: 5px;
    color: #0B0205;
    width: 200px;
    margin: 5px 0;
}

label {
    color: #0B0205;
    display: block;
    margin-top: 10px;
    font-size: 16px;
}
